### 변수명 정리
(원 변수명, 새로운 변수명, 변수 설명 순으로 정리)
           
pid : pid (pid)     
a177102 : wstart_h (업무 시작 시)    
a177103 : wstart_m (업무 시작 분)    
a177104 : wend_d (업무 종료 일)   
p174301 : jobsat  (직무만족도)    
p171003 : fixedwt (정규근로시간여부)     
p171004 : wtime (주당 평균 근로시간)    
p174321 : wspacesat (전반적일자리만족도)    
p174322 : wsat (전반적일만족도)    
p175501 : marri (혼인상태)     
p179071 : childbirth (자녀 출산경험 유무)    
p170314 : jobty (종사상지위)    
p170101: gend (성별)    
p171621: wbonus (성과급제여부)   
p170104: birth (생년)    
p170401: comp_type (기업형태)

필요한 패키지 설치 (dplyr는 혹시 몰라서 함께 설치함)

In [4]:
install.packages("foreign")
install.packages("dplyr")
library(foreign)
library(dplyr)

Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5:
  URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5/PACKAGES'를 열 수 없습니다"Warning message:
"package 'foreign' is in use and will not be installed"Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5:
  URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5/PACKAGES'를 열 수 없습니다"Warning message:
"package 'dplyr' is in use and will not be installed"

```read.spss``` 명령어 활용해 자료 불러오기( 부가조사, 개인별)

In [6]:
dt17_a <- read.spss("C:/Users/eunee/khu_sda_project/data/klips17a.sav",
                   use.value.labels = FALSE, to.data.frame = TRUE)
dt17_p <- read.spss("C:/Users/eunee/khu_sda_project/data/klips17p_i.sav",
                   use.value.labels = FALSE, to.data.frame = TRUE)

### 부가조사 : ```rdt_a```

In [19]:
rdt_a <- subset(dt17_a,
             select = c(pid, a177102, a177103, a177104))
names(rdt_a) <- c("pid", "wstart_h", "wstart_m", "wend_d")
str(rdt_a)

'data.frame':	11686 obs. of  4 variables:
 $ pid     : num  101 401 402 902 501401 ...
 $ wstart_h: num  7 9 13 9 9 NA 4 10 9 NA ...
 $ wstart_m: num  0 0 0 0 0 NA 0 30 0 NA ...
 $ wend_d  : num  1 1 1 1 1 NA 1 1 1 NA ...

### 개인별 : ```rdt_p```

In [18]:
rdt_p <- subset(dt17_p,
               select = c(pid, p174301, p171003, p171004, p174321, p174322, p175501, p179071, p170314, p170101, p171621, p170104, p170401))
names(rdt_p) <- c("pid", "jobsat", "fixedwt", "wtime", "wspacesat", "wsat", "marri", "childbirth", "jobty", "gend", "wbonus", "birth", "com_type")
str(rdt_p)

'data.frame':	13168 obs. of  13 variables:
 $ pid       : num  101 102 201 202 203 401 402 602 902 903 ...
 $ jobsat    : num  4 3 3 3 NA 4 4 3 4 NA ...
 $ fixedwt   : num  2 1 1 1 NA 1 NA 1 1 NA ...
 $ wtime     : num  24 NA NA NA NA NA NA NA NA NA ...
 $ wspacesat : num  3 3 3 3 NA 2 2 3 2 NA ...
 $ wsat      : num  3 3 3 3 NA 2 2 3 2 NA ...
 $ marri     : num  5 5 4 4 2 2 2 5 2 2 ...
 $ childbirth: num  NA NA NA NA NA NA NA NA NA NA ...
 $ jobty     : num  3 3 3 2 NA 1 4 2 1 NA ...
 $ gend      : num  2 1 1 2 2 1 2 2 2 2 ...
 $ wbonus    : num  2 2 2 2 NA 2 NA 2 2 NA ...
 $ birth     : num  1941 1968 1951 1954 1979 ...
 $ com_type  : num  6 1 1 1 NA 3 NA 3 4 NA ...

### ```rdt_i``` : ```rdt_a```, ```rdt_p``` 에 대한 merge(inner join)

In [25]:
rdt_i <- merge(rdt_a, rdt_p, by = "pid")
str(rdt_i)

'data.frame':	11679 obs. of  16 variables:
 $ pid       : num  101 102 203 401 402 ...
 $ wstart_h  : num  7 8 NA 9 13 9 NA NA 4 10 ...
 $ wstart_m  : num  0 30 NA 0 0 0 NA NA 0 30 ...
 $ wend_d    : num  1 1 NA 1 1 1 NA NA 1 1 ...
 $ jobsat    : num  4 3 NA 4 4 4 NA NA 2 3 ...
 $ fixedwt   : num  2 1 NA 1 NA 1 NA NA 1 1 ...
 $ wtime     : num  24 NA NA NA NA NA NA NA NA NA ...
 $ wspacesat : num  3 3 NA 2 2 2 NA NA 3 3 ...
 $ wsat      : num  3 3 NA 2 2 2 NA NA 3 3 ...
 $ marri     : num  5 5 2 2 2 2 2 4 2 2 ...
 $ childbirth: num  NA NA NA NA NA NA NA NA NA NA ...
 $ jobty     : num  3 3 NA 1 4 1 NA NA 1 1 ...
 $ gend      : num  2 1 2 1 2 2 2 2 1 2 ...
 $ wbonus    : num  2 2 NA 2 NA 2 NA NA 2 2 ...
 $ birth     : num  1941 1968 1979 1970 1969 ...
 $ com_type  : num  6 1 NA 3 NA 4 NA NA 1 1 ...

### ```rdt_o``` : ```rdt_a```, ```rdt_p```에 대한 merge(outer join)

In [26]:
rdt_o <- merge(rdt_a, rdt_p, by = "pid", all = TRUE)
str(rdt_o)

'data.frame':	13175 obs. of  16 variables:
 $ pid       : num  101 102 201 202 203 401 402 602 902 903 ...
 $ wstart_h  : num  7 8 NA NA NA 9 13 NA 9 NA ...
 $ wstart_m  : num  0 30 NA NA NA 0 0 NA 0 NA ...
 $ wend_d    : num  1 1 NA NA NA 1 1 NA 1 NA ...
 $ jobsat    : num  4 3 3 3 NA 4 4 3 4 NA ...
 $ fixedwt   : num  2 1 1 1 NA 1 NA 1 1 NA ...
 $ wtime     : num  24 NA NA NA NA NA NA NA NA NA ...
 $ wspacesat : num  3 3 3 3 NA 2 2 3 2 NA ...
 $ wsat      : num  3 3 3 3 NA 2 2 3 2 NA ...
 $ marri     : num  5 5 4 4 2 2 2 5 2 2 ...
 $ childbirth: num  NA NA NA NA NA NA NA NA NA NA ...
 $ jobty     : num  3 3 3 2 NA 1 4 2 1 NA ...
 $ gend      : num  2 1 1 2 2 1 2 2 2 2 ...
 $ wbonus    : num  2 2 2 2 NA 2 NA 2 2 NA ...
 $ birth     : num  1941 1968 1951 1954 1979 ...
 $ com_type  : num  6 1 1 1 NA 3 NA 3 4 NA ...